<h1>All Orders</h1>

<table>
    <tr>
        <th>Description</th>
        <th>Restaurant</th>
        <th>Rating</th>
        <th>Order Again?</th>
    </tr>
    <tr *ngFor="let o of OrderListResult">
        <td>{{o.description}}</td>
        <td>{{o.restaurant}}</td>
        <td>{{o.rating}}</td>
        <td *ngIf="o.orderAgain == true">✓</td>
        <td *ngIf="o.orderAgain == false"></td>
        <td><button (click)="DeleteOrder(o.id)" >Delete</button></td>
       
    </tr>
</table>

<app-add-order-form (OrderCreated)="NewOrder($event)"></app-add-order-form>